# Challenge Set 9
## Part I: W3Schools SQL Lab 

*Introductory level SQL*

This challenge uses the [W3Schools SQL playground](http://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all). Please add solutions to this markdown file and submit.

Which customers are from the UK?

```Sql
SELECT * FROM Customers WHERE Country = 'UK' 
```

What is the name of the customer who has the most orders?

```Sql
SELECT CustomerName, COUNT(*) FROM Customers
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
GROUP BY CustomerName
ORDER BY COUNT(*) DESC
LIMIT 1;
```

Which supplier has the highest average product price?

```Sql
SELECT SupplierName, AVG(Price) FROM Suppliers
JOIN Products ON Suppliers.SupplierID = Products.SupplierID
GROUP BY SupplierName
ORDER BY AVG(Price) DESC
LIMIT 1;
```

How many different countries are all the customers from? (*Hint:* consider [DISTINCT](http://www.w3schools.com/sql/sql_distinct.asp).)

```Sql
SELECT COUNT(DISTINCT(Country)) FROM Customers;
```

What category appears in the most orders?

```Sql
SELECT Categories.CategoryName, COUNT(*) FROM Categories
JOIN Products ON Categories.CategoryID = Products.CategoryID
JOIN OrderDetails ON OrderDetails.ProductID = Products.ProductID
GROUP BY Categories.CategoryID 
ORDER BY COUNT(Categories.CategoryID) DESC
LIMIT 1;
```

What was the total cost for each order?

```Sql
SELECT OrderID AS OrderID, SUM(Products.Price * OrderDetails.Quantity) as OrderPrice FROM OrderDetails
JOIN Products ON OrderDetails.ProductID = Products.ProductID
GROUP BY OrderID
ORDER BY OrderPrice DESC
```

Which employee made the most sales (by total price)?

```Sql
SELECT LastName, FirstName, SUM(Price * Quantity) AS SalesTotal FROM Employees
JOIN Orders ON Orders.EmployeeID = Employees.EmployeeID
JOIN OrderDetails ON OrderDetails.OrderID = Orders.OrderID
JOIN Products ON Products.ProductID = OrderDetails.ProductID
GROUP BY Orders.EmployeeID
ORDER BY SalesTotal DESC
LIMIT  1;
```

Which employees have BS degrees? (*Hint:* look at the [LIKE](http://www.w3schools.com/sql/sql_like.asp) operator.)

```Sql
SELECT LastName, FirstName FROM Employees
WHERE Notes LIKE '%BS%' OR Notes LIKE '%BA%'
```

Which supplier of three or more products has the highest average product price? (*Hint:* look at the [HAVING](http://www.w3schools.com/sql/sql_having.asp) operator.)

```Sql
SELECT SupplierName, AVG(Products.Price) AS AvgPrice FROM Suppliers
JOIN Products ON Suppliers.SupplierID = Products.SupplierID
GROUP BY SupplierName
HAVING COUNT(Products.ProductID) >= 3
ORDER BY AvgPrice DESC
LIMIT 3;
```

# Challenge Set 9
## Part II: Baseball Data

*Introductory - Intermediate level SQL*

--

Please complete this exercise via SQLalchemy and Jupyter notebook.

We will be working with the Lahman baseball data we uploaded to your AWS instance in class.

What was the total spent on salaries by each team, each year?

What is the first and last year played for each player? *Hint:* Create a new table from 'Fielding.csv'.

3. Who has played the most all star games?

4. Which school has generated the most distinct players? *Hint:* Create new table from 'CollegePlaying.csv'.

5. Which players have the longest career? Assume that the `debut` and `finalGame` columns comprise the start and end, respectively, of a player's career. *Hint:* Create a new table from 'Master.csv'. Also note that strings can be converted to dates using the [`DATE`](https://wiki.postgresql.org/wiki/Working_with_Dates_and_Times_in_PostgreSQL#WORKING_with_DATETIME.2C_DATE.2C_and_INTERVAL_VALUES) function and can then be subtracted from each other yielding their difference in days.

6. What is the distribution of debut months? *Hint:* Look at the `DATE` and [`EXTRACT`](https://www.postgresql.org/docs/current/static/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) functions.

7. What is the effect of table join order on mean salary for the players listed in the main (master) table? *Hint:* Perform two different queries, one that joins on playerID in the salary table and other that joins on the same column in the master table. You will have to use left joins for each since right joins are not currently supported with SQLalchemy.